language: objective-c
before_install:
    - brew update
    - brew uninstall xctool
    - brew install xctool
    - git submodule update --init --recursive
script:
    - xctool -project bookr.xcodeproj -scheme bookr -sdk iphonesimulator7.0 -arch i386 -configuration Debug ONLY_ACTIVE_ARCH=NO clean build-tests run-tests