language: objective-c
before_install:
    - brew update
    - brew uninstall xctool
    - brew install xctool
#install: make get-deps
script:
    - xctool -project bookr.xcodeproj -scheme bookr -sdk iphonesimulator build-tests run-tests -only bookrTests